.top-songs-container {
  color: #FFF;
  background-color: #C1EDCC;
  display: flex;
  justify-content: center;
}

.song-list {
  text-align: center;
  background-color: #191919;
  width: 50%;
}

.song {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #B0C0BC;
}

.song-attr {
  margin-left: 30px;
}
