.top-songs-container {
  color: #FFF;
  background-color: #98af9a;
  display: flex;
  justify-content: center;
}

.song-list {
  background-color: #191919;
  width: 50%;
}

.heading {
  text-align: center;
}

.song {
  padding: 0px 0px 20px 0px;
  margin: 0px 30px;
  border-bottom: 1px solid #B0C0BC;
}

.song-section {
  display: flex;
  flex-direction: row;
}

.song-attr, .song-position {
  margin-left: 30px;
}

.song-position {
  margin-bottom: 35px;
}
